@{
    ViewData["Title"] = "Home Page";
}

<div class = "bd">
    <div class="title-header">
        <h1 id = "spell-title" class="display-4">Spell Checker</h1>
        </br>
        <p class = "text-muted" id = "spell-info">Check your English text for spelling errors </br> with this online spell checker.</p>
    </div>
    <div class = "container">
        <div id= "editor" contenteditable="true"></div>
    </div>
</div>

